.icon-box:nth-child(2) svg path {
  fill: black;
  stroke: whitesmoke;
}

.message {
  padding-top: 100px;
}

.contact {
  display: flex;
  align-items: flex-start;
  height: 100px;
}
.contact p {
  font-size: 14px;
  color: rgb(198, 192, 192);
}

.profiles {
  display: flex;
  flex-direction: column;
  flex: 40%;
}
.profiles .top {
  display: flex;
  flex: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 15px;
}
.profiles .text {
  margin-left: 100px;
  align-items: center;
  display: flex;
  color: black;
  font-weight: 600;
  line-height: 18px;
}
.profiles .bottom {
  border: 1px solid rgb(219, 219, 219);
  border-top: none;
  display: flex;
  flex: 100%;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}
.profiles .bottom :hover {
  background-color: #efefef;
}
.profiles .bottom .account {
  gap: 20px;
  display: flex;
  align-items: center;
}
.profiles .bottom .account img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 60%;
}
.messages .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 100%;
  padding: 20px 20px;
  border: 1px solid rgb(219, 219, 219);
}
.messages .top .top_right {
  display: flex;
  gap: 15px;
}
.messages .account {
  display: flex;
  gap: 10px;
}
.messages .account img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.messages .writings {
  border: 1px solid rgb(219, 219, 219);
  padding: 40px;
}
.messages .writings p {
  text-align: center;
  padding-top: 0;
}
.messages .writings .wleft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.messages .writings .wleft h5 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}
.messages .writings .second {
  margin-top: 130px;
}
.messages .writings .wright {
  display: flex;
  flex-direction: column;
  gap: 15px;
  float: right;
}
.messages .writings .wright h5 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  max-width: 200px;
  background-color: #efefef;
}
.messages .writings .p {
  margin-top: 80px;
  text-align: center;
}
.messages .writings .limage {
  width: 160px;
  height: 200px;
  border-radius: 20px;
}
.messages .writings .rimage {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.messages .writings .bottom {
  display: absolute;
  bottom: 0;
}
.messages .writings .bottom_message {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 67px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  justify-content: space-between;
}
.messages .writings .bottom_message input {
  border: none;
  max-width: 350px;
  width: 100%;
  padding: 3px 0;
}
.messages .writings .send {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 780px) {
  .profiles {
    display: flex;
    flex-direction: column;
    flex: 25%;
  }
  .profiles .text {
    margin-left: 20px;
  }
  .second2 {
    margin-top: 10px;
  }
  .writings p {
    margin-top: 0;
  }
}
@media screen and (max-width: 680px) {
  .bottom .account .info p {
    display: none;
  }
  .bottom .account .info h4 {
    font-size: 15px;
  }
  .profiles .text {
    margin-left: 0;
  }
  .top ._ab6- {
    display: none;
  }
  .messages .writings .wright {
    margin-top: 10px;
  }
}
@media screen and (max-width: 465px) {
  .bottom .account .info {
    display: none;
  }
  .profiles .text {
    font-size: 13px;
  }
  .account {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=message.css.map */