@import "../base/reset";
@import "../layout/header";
@import "../layout/footer";

* {
    text-decoration: none;
    list-style-type: none;
}

.explorer:nth-child(1) {
    margin-top: 90px;
}
.explorer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    .explore1 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

footer {
    .footer_top {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
        margin-top: 80px;
        a {
            font-family: sans-serif;
            color: black;
            font-size: 12px;
            opacity: 50%;
        }
    }
    .footer_bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        margin: auto;
        p, label, select {
            font-family: sans-serif;
            color: black;
            font-size: 12px;
            opacity: 50%;
        }
    }
}